@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'FigTree', sans-serif;
    box-sizing: border-box;
    /* acomoda todo el border box  */
}

body {
    background: #222;
}

.card {
    width: 90%;
    /* determina el ancho del card basandose en el place holder y el boton*/
    max-width: 470px;
    /* determina todo el ancho del card en general */
    background: #116A60;
    background: linear-gradient(225deg, #116A60, #9CE877);
    /* #AAFA83 */
    color: #fff;
    /* color de la letra */
    margin: 100px auto 0;
    /* determina el margin de arriba, lo centra automaticamente y no toca el de abajo */
    border-radius: 20px;
    /* borde redondo piolon */
    padding: 40px 35px;
    /* padding desde los bordes hasta los objetos de adentro */
    text-align: center;
    /* centra el texto */
}

.search {
    width: 100%;
    display: flex;
    /* el display que deja q todo el resto sirva ksdsj */
    align-items: center;
    /* centra todo  */
    justify-content: space-between;
    /* el spacebetween alinea separa el boton y el place holder */
    /* lo alinea todo el search je */
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 20px;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 44px;
    text-shadow: -2px 0px 25px rgba(0, 0, 0, 0.50);
    display: none;
}

/*
https://api.openweathermap.org/data/2.5/weather?q=Bangalore&appid=&units=metric
4e50c56830ff327cbdcaef128622a10d */